.content {
  > * {
    padding-left: 30px;
  }
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $primary-color;
  

// increase the size of all paragraphs and lists
 ul {
  font-size: 1.98rem;
  line-height: 2.5rem;
  }

 h1 {
  font-size: 4rem;
  margin: 20px 0;
  }

 p {
  font-size: 2rem;
  width: 65%;
  line-height: 2.7rem;
  padding-left: 20px;
  min-width: 550px;
  }

 img, .content video {
  height: 450px;
  width: 700px;
  margin-bottom: 25px;
  }

  video, .content video {
    height: 450px;
    width: 700px;
    margin-bottom: 25px;
  }

  a:visited {
    text-decoration: underline;
    color: $secondary-color
  }
}