
.nav {
  width: 15%;
  min-width: 180px;
  padding-top: 35px;
  padding-left: 30px;
  padding-right: 20px;
  text-align: center;
  color: $primary-color;
}

.nav ul li {
  list-style-type: none;
  font-size: 1.8rem;
  padding-right: 20px;
}

.nav a:link {
  text-decoration: none;
  color: $primary-color
}

.nav a:visited {
  text-decoration: none;
  color: $primary-color
}

.nav a:hover {
  text-decoration: underline;
  color: $primary-color
}